<!--DOCTYPE html>
<html>
<head>
    <title>Personal Finance Management System</title>
</head>
<body>
    <h1>Welcome to Personal Finance Management System</h1>
    <p>This is my first Flask website.</p>
</body>
</html>-->
<!--DOCTYPE html>
<html>
<head>
    <title>Personal Finance Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Personal Finance Management System</h1>

    <p>Manage your income and expenses easily.</p>

    <button>Login</button>
    <button>Register</button>

</body>
</html-->

<!DOCTYPE html>
<html>
<head>
    <title>Personal Finance Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Personal Finance Management System</h1>

    <p>Manage your income and expenses easily.</p>

   <a href="/login">
    <button>login</button>
   </a>
   
   <a href="/register">
    <button>register</button>
   </a>
   
</body>
</html>